div.wrapper {
  color: #303e4e;
  line-height: 2;
  font-family: "Raleway", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 50px;
  margin: 50px 0px;
  text-decoration-line: underline;
}

nav {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px;
  height: 220px;
}

img {
  display: block;
}

img.navigation-pic {
  max-width: 200px;
  transition: ease-out 250ms;
  opacity: 1;
}

img.navigation-pic:hover {
  opacity: 0.4;
  max-width: 220px;
}

h4 {
  font-size: 20px;
  margin: 0;
}

h2 {
  font-family: "Dancing Script", cursive;

  font-size: 40px;
}

h3 {
  border: 4px dashed #5eaaa8;
  border-radius: 15px;

  margin: 50px 150px;
  padding: 20px;
}

div.main-content {
  align-content: center;
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.theses {
  border-radius: 80px 20px;
  box-shadow: 0px 4px 4px 2px rgba(48, 62, 78, 0.4);
  font-weight: bold;
  transition: all 200ms ease-in-out;
  text-align: left;
  text-indent: 1em;
  margin: 15px 10px;
  max-width: 300px;
  padding: 20px;
}

div.theses::first-letter {
  color: #fea450;
  font-size: 150%;
}

.g {
  color: #4285f4;
}
.oe {
  color: #ea4335;
}
.o {
  color: #fbbc05;
}
.l {
  color: #34a853;
}

div.theses:hover {
  background: #e8ded2;
}

div.video {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #5eaaa8;
}

a:hover {
  text-decoration: underline;
}

div.redirection {
  color: #5eaaa8;
  font-size: 25px;
  font-family: fantasy;
  padding: 20px;
  text-shadow: 0px 4px 6px 2px rgba(94, 170, 168, 0.5);
}

footer {
  text-align: center;
  color: #5eaaa8;
  background: linear-gradient(#e3fbf5, #e8ded2);
  padding: 20px;
  border: 1px solid #e3fbf5;
  border-radius: 10px;
}

h3 {
  position: relative;
}

span.pop-up {
  font-family: "Teko", sans-serif;
  position: absolute;
  top: 12px;
  left: 743px;
}

/* span.question-mark:hover {
  color: #fea450;
  cursor: pointer;
} */

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  bottom: 0;
  /* left: 40%; */
  white-space: nowrap;

  background: rgb(94, 170, 168, 0.7);
  border-radius: 5px;
  color: #e3fbf5;
  /* color: #303e4e; */
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  padding: 0.2em 0.5em;

  transform: scale(0);
  transition: transform ease-out 200ms, bottom ease-out 200ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

form {
  margin: 0 auto;
  padding: 0 0 20px 0;
  max-width: 900px;
  text-align: left;
}
/* 
form::after {
  content: "";
} */

label {
  font-size: 20px;
  font-weight: 700;
}

label.checked-wrong {
  /* background-color: #ea4335; */
  text-decoration: dashed line-through;
}

label.checked-right {
  background-color: #303e4e;
  color: #e3fbf5;
}

label.checked-right::before {
  content: "👉🏼";
}

label.checked-right::after {
  content: "💤";
}

div.explanation {
  border: 4px dashed #5eaaa8;
  border-radius: 15px;

  margin: 50px 150px;
  padding: 20px;
}

p {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-indent: 2em;
  position: relative;
}

button {
  margin: 30px auto;
  padding: 20px;
  display: block;

  transition: all 200ms ease-in-out;
  max-width: 300px;

  border: 2px solid #5eaaa8;
  border-radius: 50px;
  box-shadow: 0px 5px 15px 5px rgba(94, 170, 168, 0.5);

  color: #e3fbf5;
  background: #5eaaa8;
  font-size: 30px;
}

button:hover {
  color: #5eaaa8;
  background: transparent;
  border: 2px solid #5eaaa8;
  cursor: pointer;
}
